{
  "openapi": "3.0.3",
  "info": {
    "title": "ConnectWise Asio APIs",
    "description": "ConnectWise Asio",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://openapi.service.itsupport247.net"
    }
  ],
  "paths": {
    "/api/platform/v1/device-groups": {
      "get": {
        "tags": [
          "Device Groups"
        ],
        "summary": "Fetch all Device Groups",
        "operationId": "Get_details_of_Devices_Groups",
        "security": [
          {
            "device_groups": [
              "platform.deviceGroups.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "DGs are retrieved successfully.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "in:header",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceGroupWithRootBlockInVersionedPayload"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "in:header",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error while request handling.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "in:header",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/automation/shellScripts": {
      "get": {
        "tags": [
          "Automation"
        ],
        "summary": "Fetch all Shell Scripts",
        "operationId": "Get_details_of_Shell_Scripts",
        "security": [
          {
            "automation_read": [
              "platform.automation.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned list of all shell scripts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateMetaData"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden user is not entitled to view the templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorShellScripts"
                }
              }
            }
          },
          "500": {
            "description": "Can not get shell templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorShellScripts"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/automation/scripts": {
      "get": {
        "tags": [
          "Automation"
        ],
        "summary": "Fetch all Scripts",
        "operationId": "Get_details_of_Scripts",
        "security": [
          {
            "automation_read": [
              "platform.automation.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Scripts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scripts"
                }
              }
            }
          },
          "400": {
            "description": "Request Processing / validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorScripts"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorScripts"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorScripts"
                }
              }
            }
          },
          "404": {
            "description": "Scripts not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorScripts"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorScripts"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/automation/tasks": {
      "get": {
        "tags": [
          "Automation"
        ],
        "summary": "Fetch all Tasks",
        "operationId": "Get_details_of_Tasks",
        "security": [
          {
            "automation_read": [
              "platform.automation.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of TasksDefinitions by partner ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaskDefinitionDetails"
                  }
                }
              }
            }
          },
          "401": {
            "description": "In-valid bearer Token",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidTasks"
                }
              }
            }
          },
          "403": {
            "description": "In-valid Permission Vector OR JWTToken",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorForbiddenTasks"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorTasks"
                }
              }
            }
          }
        }
      }
    },
    "/v1/token": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Authorize with credentials",
        "operationId": "Authorize_with_credentials",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "scope": {
                    "type": "string"
                  }
                },
                "example": {
                  "grant_type": "client_credentials",
                  "client_id": "6500023",
                  "client_secret": "some_client_secret",
                  "scope": "platform.companies.read"
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "access_token": "o7-0jLHntmSEfkr5KGq2whqRfR0",
                  "scope": "platform.companies.read",
                  "token_type": "Bearer",
                  "expires_in": 3599
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/rate_limits": {
      "get": {
        "tags": [
          "Rate Limits"
        ],
        "summary": "Get current rate limit",
        "operationId": "Get_current_rate_limit",
        "security": [
          {
            "openapi_oauth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "resources": {
                    "alerts": {
                      "create-alert": {
                        "limit": 35,
                        "remaining": 34,
                        "reset": 1603785300
                      }
                    },
                    "asset": {
                      "partner-asset-endpoints-details": {
                        "limit": 35,
                        "remaining": 35,
                        "reset": 1603785300
                      }
                    },
                    "service": {
                      "rate-limit": {
                        "limit": 35,
                        "remaining": 33,
                        "reset": 1603785300
                      }
                    },
                    "topology": {
                      "partner-topology-clients": {
                        "limit": 35,
                        "remaining": 35,
                        "reset": 1603785300
                      },
                      "partner-topology-endpoints": {
                        "limit": 35,
                        "remaining": 35,
                        "reset": 1603785300
                      },
                      "partner-topology-sites": {
                        "limit": 35,
                        "remaining": 35,
                        "reset": 1603785300
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/company/companies": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get list for companies",
        "operationId": "Get_list_for_companies",
        "security": [
          {
            "platform": [
              "platform.companies.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Companies"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/company/companies/{companyId}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get a company by id",
        "operationId": "Get_a_company_by_id",
        "security": [
          {
            "platform": [
              "platform.companies.read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "company id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/company/companies/{companyId}/sites": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get all sites for the company",
        "operationId": "Get_all_sites_for_the_company",
        "security": [
          {
            "platform": [
              "platform.sites.read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "company id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sites"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Create a site for the company",
        "operationId": "Create_a_site_for_the_company",
        "security": [
          {
            "platform": [
              "platform.sites.write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "company id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/company/companies/{companyId}/sites/{siteId}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get site by id for company",
        "operationId": "Get_site_by_id_for_company",
        "security": [
          {
            "platform": [
              "platform.sites.read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "company id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "siteId",
            "in": "path",
            "description": "site id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Company"
        ],
        "summary": "Update site by id for company",
        "operationId": "Update_site_by_id_for_company",
        "security": [
          {
            "platform": [
              "platform.sites.write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "company id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "siteId",
            "in": "path",
            "description": "site id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Site"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Company"
        ],
        "summary": "Update site by id for company",
        "operationId": "Update_site_by_id_for_company_2",
        "security": [
          {
            "platform": [
              "platform.sites.write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "company id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "siteId",
            "in": "path",
            "description": "site id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchOperations"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/company/sites": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get list for sites",
        "operationId": "Get_list_for_sites",
        "security": [
          {
            "platform": [
              "platform.sites.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sites"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/company/sites/{siteId}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get site by id",
        "operationId": "Get_site_by_id",
        "security": [
          {
            "platform": [
              "platform.sites.read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "description": "site id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/device/endpoints": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get details of Devices for a partner",
        "operationId": "Get_details_of_Devices_for_a_partner",
        "security": [
          {
            "endpoints_list": [
              "platform.asset.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved details of Devices successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/endpointList"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/device/clients/{clientID}/endpoints": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get details of Devices for a specific company",
        "operationId": "Get_details_of_Devices_for_a_specific_company",
        "security": [
          {
            "endpoints_list": [
              "platform.asset.read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "clientID",
            "in": "path",
            "description": "client ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "436f6d6d-616e-6420-4944-6a200a0a2c75"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved details of Devices successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/endpointList"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/device/clients/{clientID}/sites/{siteID}/endpoints": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get details of Devices for a specific site",
        "operationId": "Get_details_of_Devices_for_a_specific_site",
        "security": [
          {
            "endpoints_list": [
              "platform.asset.read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "clientID",
            "in": "path",
            "description": "client ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "436f6d6d-616e-6420-4944-6a200a0a2c75"
          },
          {
            "name": "siteID",
            "in": "path",
            "description": "site id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "436f6d6d-616e-6420-4944-6a200a0a2c75"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved details of Devices successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/endpointList"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/device/endpoints/{endpointID}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get details of a specific Device",
        "operationId": "Get_details_of_a_specific_Device",
        "security": [
          {
            "endpoints_list": [
              "platform.asset.read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "endpointID",
            "in": "path",
            "description": "endpoint id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4a9caa07-d45a-4c14-aa36-8c1c26e7a029"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved details of a Device successfully",
            "content": {
              "application/json": {
                "example": {
                  "createTimeUTC": "2023-12-26T17:12:11.994Z",
                  "agentInstalledUTC": "2023-09-05T13:41:39.331Z",
                  "endpointID": "b1bab436-f68c-42d7-b504-d4184327d701",
                  "clientID": "436f6d6d-616e-6420-4944-5a207a0a2c76",
                  "siteID": "436f6d6d-616e-6420-4944-5a207a0a2c76",
                  "friendlyName": "string",
                  "resourceType": "string",
                  "endpointType": "string",
                  "rolesFeatures": "string",
                  "baseBoard": {
                    "product": "string",
                    "manufacturer": "string",
                    "model": "string",
                    "serialNumber": "string",
                    "name": "string",
                    "version": "string",
                    "installDate": "2019-01-16T14:01:12.883Z"
                  },
                  "bios": {
                    "product": "string",
                    "manufacturer": "string",
                    "version": "string",
                    "serialNumber": "string",
                    "smbiosVersion": "string"
                  },
                  "drives": [
                    {
                      "product": "string",
                      "manufacturer": "string",
                      "mediaType": "string",
                      "interfaceType": "string",
                      "logicalName": "string",
                      "serialNumber": "string",
                      "partitions": [
                        "string"
                      ],
                      "sizeBytes": 0,
                      "numberOfPartitions": 0,
                      "partitionData": [
                        {
                          "name": "string",
                          "label": "string",
                          "fileSystem": "string",
                          "description": "string",
                          "sizeBytes": 0
                        }
                      ]
                    }
                  ],
                  "physicalMemory": [
                    {
                      "manufacturer": "string",
                      "serialNumber": "string",
                      "sizeBytes": 0
                    }
                  ],
                  "networks": [
                    {
                      "vendor": "string",
                      "product": "string",
                      "dhcpLeaseDuration": 0,
                      "dhcpEnabled": true,
                      "dhcpServer": "string",
                      "dhcpLeaseObtained": "2019-01-16T14:01:12.884Z",
                      "dhcpLeaseExpires": "2019-01-16T14:01:12.884Z",
                      "dnsServers": [
                        "string"
                      ],
                      "ipEnabled": true,
                      "ipv4": "string",
                      "ipv4List": [
                        "string"
                      ],
                      "ipv6": "string",
                      "ipv6List": [
                        "string"
                      ],
                      "subnetMask": "string",
                      "subnetMasks": [
                        "string"
                      ],
                      "defaultIPGateway": "string",
                      "defaultIPGateways": [
                        "string"
                      ],
                      "macAddress": "string",
                      "winsPrimaryServer": "string",
                      "winsSecondaryServer": "string",
                      "logicalName": "string"
                    }
                  ],
                  "os": {
                    "product": "string",
                    "manufacturer": "string",
                    "osLanguage": "string",
                    "serialNumber": "string",
                    "version": "string",
                    "installDate": "2019-01-16T14:01:12.884Z",
                    "type": "string",
                    "arch": "string",
                    "servicePack": "string",
                    "productId": "string",
                    "productKey": "string"
                  },
                  "processors": [
                    {
                      "product": "string",
                      "numberOfCores": 0,
                      "clockSpeedMhz": "string",
                      "family": 0,
                      "manufacturer": "string",
                      "processorType": "string",
                      "serialNumber": "string",
                      "level": 0
                    }
                  ],
                  "raidController": {
                    "softwareRaid": "string",
                    "hardwareRaid": "string",
                    "vendor": "string"
                  },
                  "system": {
                    "product": "string",
                    "model": "string",
                    "timeZone": "string",
                    "timeZoneDescription": "string",
                    "serialNumber": "string",
                    "systemName": "string",
                    "domain": "string",
                    "domainRole": 0,
                    "category": "string"
                  },
                  "installedSoftwares": [
                    {
                      "name": "string",
                      "version": "string",
                      "publisher": "string",
                      "installDate": "2019-01-16T14:01:12.884Z",
                      "userName": "string",
                      "lastAccessDateTime": "2019-01-16T14:01:12.884Z"
                    }
                  ],
                  "keyboards": [
                    {
                      "deviceID": "string",
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "mouse": [
                    {
                      "manufacturer": "string",
                      "name": "string",
                      "deviceId": "string",
                      "deviceInterface": 0,
                      "pointingType": 0,
                      "buttons": 0
                    }
                  ],
                  "monitors": [
                    {
                      "deviceID": "string",
                      "name": "string",
                      "manufacturer": "string",
                      "screenHeight": 0,
                      "screenWidth": 0
                    }
                  ],
                  "physicalDrive": [
                    {
                      "type": "string",
                      "partitions": [
                        {
                          "name": "string",
                          "label": "string",
                          "fileSystem": "string",
                          "description": "string",
                          "sizeBytes": 0
                        }
                      ]
                    }
                  ],
                  "users": [
                    {
                      "username": "string",
                      "userType": "string",
                      "userDisabled": true,
                      "userLockout": true,
                      "passwordRequired": true
                    }
                  ],
                  "services": [
                    {
                      "serviceName": "string",
                      "displayName": "string",
                      "executablePath": "string",
                      "startupType": "string",
                      "serviceStatus": "string",
                      "logOnAs": "string",
                      "stopEnableAction": true,
                      "delayedAutoStart": true,
                      "win32ExitCode": 0,
                      "serviceSpecificExitCode": 0
                    }
                  ],
                  "shares": [
                    {
                      "name": "string",
                      "caption": "string",
                      "description": "string",
                      "path": "string",
                      "access": "string",
                      "userAccess": [
                        "string"
                      ],
                      "type": [
                        "string"
                      ]
                    }
                  ],
                  "softwareLicenses": [
                    {
                      "productName": "string",
                      "productId": "string",
                      "productKey": "string"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/platform/v1/service/ticketing/categories": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns all ticket categories for a partner",
        "description": "This API returns all the ticket categories for a partner. Pagination support is not available for this API yet, so this API may return large amount of data depending upon categories present for a partner in the system.\n",
        "responses": {
          "200": {
            "description": "Successful response with all available ticket categories for a partner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Categories"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_categories"
      }
    },
    "/api/platform/v1/service/ticketing/priorities": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns all ticket priorities",
        "description": "This API returns all the available priorities in the system. Pagination support is not available for this API yet, so this API may return large amount of data depending upon priorities present in the system.\n",
        "responses": {
          "200": {
            "description": "Successful response with all available statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Priorities"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_priorities"
      }
    },
    "/api/platform/v1/service/ticketing/service-boards": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns all service-boards for provided partner, available in the service",
        "description": "This API returns all the available service-boards in the system, for partner with provided partnerId. Pagination support is not available for this API yet, so this API may return large amount of data depending upon serviceBoards present in the system.\n\nThe API accepts query parameters which should be provided to identify available service boards to assigns tickets to. \nAs the CW Expert Service only support entitled companies and sites, providing companyId and siteId allows service to return only entitled service-boards.\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "description": "the id of the company of the ticket for which service boards are to be fetched.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "siteId",
            "in": "query",
            "description": "the id of the site of the ticket for which service boards are to be fetched.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "typeId",
            "in": "query",
            "description": "the id of the ticket type which identifies which all service boards are available for ticket of that type to be assgined. If the type is not partner Level, then company and site id should also be provided.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with all available service-boards",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceBoards"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_service_boards"
      }
    },
    "/api/platform/v1/service/ticketing/service-boards/{id}/teams": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns all team associations for a service-board",
        "description": "This API fetches all the team associations for a specific service-board.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the id of the service-board for which the team associations API is being called",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with all available team associations for a specific service-board",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceBoardTeams"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_service_boards__id__teams"
      }
    },
    "/api/platform/v1/service/ticketing/sources": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns all ticket sources for a partner",
        "description": "This API returns all the ticket sources for a partner. Pagination support is not available for this API yet, so this API may return large amount of data depending upon sources present for a partner in the system.\n",
        "responses": {
          "200": {
            "description": "Successful response with all available ticket sources for a partner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sources"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_sources"
      }
    },
    "/api/platform/v1/service/ticketing/statuses": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns all ticket statuses",
        "description": "This API returns all the available statuses in the system. Pagination support is not available for this API yet, so this API may return large amount of data depending upon statuses present in the system.\n",
        "responses": {
          "200": {
            "description": "Successful response with all available statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Statuses"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_statuses"
      }
    },
    "/api/platform/v1/service/ticketing/tags": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns all tags for provided partner, available in the service",
        "description": "This API returns all the available tags in the system, for partner with provided partnerId. Pagination support is not available for this API yet, so this API may return large amount of data depending upon tags present in the system.\n",
        "responses": {
          "200": {
            "description": "Successful response with all available tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tags"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_tags"
      },
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Creates a new tag",
        "description": "This API creates a new tag in the system. The 'id' parameter value in the request body is ignored, if provided. A new 'id' is created  for the newly created tag and provided in response body\n",
        "requestBody": {
          "description": "thetag object to be created in the system",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag creation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Bad/invalid Request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "post__api_platform_v1_service_ticketing_tags"
      }
    },
    "/api/platform/v1/service/ticketing/tags/{id}": {
      "delete": {
        "tags": [
          "Tickets"
        ],
        "summary": "Deletes a tag",
        "description": "The API deletes the stored tag from system.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the id of the tag to be deleted",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response indicating that deletion is successful"
          },
          "404": {
            "description": "the tag with id parameter value provided in path does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "delete__api_platform_v1_service_ticketing_tags__id_"
      },
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns a tag",
        "description": "Fetches the tag stored in the system against the provided id.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the id of the tag to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with tag in response body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "404": {
            "description": "the tag with id parameter value provided in path does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_tags__id_"
      },
      "patch": {
        "tags": [
          "Tickets"
        ],
        "summary": "Updates a tag",
        "description": "This API updates the existing tag based on JSON Patch request received. This API is suitable for changing specific fields of the tag without replacing the entire tag object. For more details on JSON Patch, please check http://jsonpatch.com/ The 'id' parameter value in the request body is ignored, if sent and 'id' parameter value from path is used as tag id for this API\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the id of the tag to be updated",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "the tag object to be updated in the system",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/json-patch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with patched tag in response body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "404": {
            "description": "the tag with id parameter value provided in path does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "405": {
            "description": "Only replace operation is allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "patch__api_platform_v1_service_ticketing_tags__id_"
      },
      "put": {
        "tags": [
          "Tickets"
        ],
        "summary": "Replace a tag",
        "description": "This API replaces the existing tag matching provided id with the one provided in the request body. All the tag parameter values, except for 'id', are replaced with their correspoding values from request body of this API call. If certain parameter is absent in the request body, it's default value is used, if possible. The 'id' parameter value in the request body is ignored, if sent and 'id' parameter value from path is used as tag id for this API\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the id of the tag to be replaced",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "the tag object to be replaced in the system",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with updated tag in response body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Bad/invalid Request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "404": {
            "description": "the tag with id parameter value provided in path does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "put__api_platform_v1_service_ticketing_tags__id_"
      }
    },
    "/api/platform/v1/service/ticketing/ticket-counts": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns ticket counts",
        "description": "This API returns ticket counts\n",
        "responses": {
          "200": {
            "description": "Successful response with ticket counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketCounts"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_ticket_counts"
      }
    },
    "/api/platform/v1/service/ticketing/tickets": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns selected Service tickets",
        "description": "This API returns selected tickets in the service. Pagination and filtering support is available, see details below.\n\nFor support for Filtering, please note below strategy. \nIn general, you can add as many filter criteria as required by adding those many query parameters. Each query parameter becomes one filter criterion \nand these are ultimately *AND*ed together (tickets matching all criteria are filtered). \nHowever there is a concept of group of criteria. Each filter query parameter supports (as indicated in description of parameter) an optional numeric suffix i.e 1, 2, etc.\nThe query parameters which shares a common suffix become part of same group.\nThis means ?number=123&statusIds=3a8e2efd-5b8a-4911-9824-8d897cf828d3&number1=3445&number2=55666 forms three groups of criteria as below\n\n  - group 1(with no suffix): number = 123 AND statusId = 3a8e2efd-5b8a-4911-9824-8d897cf828d3\n  - group 2(with suffix 1): number = 3445\n  - group 3(with suffix 2): number = 55666\n\nAll the criteria in same group are *AND*ed and then groups themselves are *OR*ed. This allows almost any type of query formation while fitering the tickets.\n",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "the page size of single page of the paginated records. Must be a positive integer i.e if number is negative, it is ignored. It shall be noted that pageSize must be sent with pageNum (see next). If any one of these two values is not present (but the other is present), error is returned. Also, if value is present but is ignored (due to being invalid), then pageNum is ignored.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "the page number of paginated record to be fetched. Must be a positive integer i.e if number is negative, it is ignored. It shall be noted that pageNum must be sent with pageSize (see above). If any one of these two values is not present (but the other is present), error is returned. Also, if value is present but is ignored (due to being invalid), then pageSize is ignored. Care should be taken while providing this value so as to not request page with non-existing records, otherwise no records are returned and count of total record returned is also zero.  E.g. if database contains 15 records, then requesting pageSize of 10 and pageNum of 3 would return empty response with total count of records as '0' even though there are 15 records in db. A good idea is to always start with pageNum '1' and use the total records number returned in response to make further calls.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "the id of field which should be used to sort the result before paginating it. Supported values are 'assignTo', 'number', 'updatedAt', 'createdAt', 'status', 'type', 'priority' , 'summary', 'assignTeam', 'dueDate', 'source' and 'extendedAttributes'. If not present, 'createdAt' is used as default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "defines if the paginated records are to be sorted ascending or descending. Only two values are supported viz. 'asc' and 'desc'. In case invalid value is sent, 'desc' is used as default",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "defines search condition by ticket number. For OR filter numeric filter suffix can be added to name. See API description for filtering strategy.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketIds",
            "in": "query",
            "description": "defines search condition by list of ticket ids (comma separated). For OR filter numeric filter suffix can be added to name. \nSee API description for filtering strategy.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summary",
            "in": "query",
            "description": "defines search condition by ticket summary. For OR filter numeric filter suffix can be added to name. \nSee API description for filtering strategy.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyIds",
            "in": "query",
            "description": "in/not in filter, defines search condition by list of company ids (comma separated). \nFor OR filter numeric filter suffix can be added to name. See API description for filtering strategy.\nexamples\nin - \"id1,id2\"\nnot in - \"[notIn],id1,id2\"\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteIds",
            "in": "query",
            "description": "in/not in filter, defines search condition by list of site ids (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy. examples in - \"id1,id2\" not in - \"[notIn],id1,id2\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusIds",
            "in": "query",
            "description": "in/not in filter, defines search condition by list of status ids (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy. examples in - \"id1,id2\" not in - \"[notIn],id1,id2\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusNames",
            "in": "query",
            "description": "defines search condition by list of status names (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy.examples - \"name1,name2\", not in - \"[notIn],name1,name2\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priorityIds",
            "in": "query",
            "description": "in/not in filter, defines search condition by list of priority ids (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy. examples in - \"id1,id2\" not in - \"[notIn],id1,id2\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priorityNames",
            "in": "query",
            "description": "defines search condition by list of priority names (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy.examples - \"name1,name2\", not in - \"[notIn],name1,name2\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assigneeIds",
            "in": "query",
            "description": "defines search condition by list of assigee ids (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assigneeTeamIds",
            "in": "query",
            "description": "in/not in filter, defines search condition by list of assigneeTeam ids (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy. examples in - \"id1,id2\" not in - \"[notIn],id1,id2\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assigneeTeamNames",
            "in": "query",
            "description": "defines search condition by list of assignee team names (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy.examples - \"name1,name2\", not in - \"[notIn],name1,name2\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceIds",
            "in": "query",
            "description": "defines search condition by list of source ids (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceNames",
            "in": "query",
            "description": "defines search condition by list of source names (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extendedAttributeIds",
            "in": "query",
            "description": "defines search condition by list of extendedAttributeIds  (comma separated). For OR filter is valid only for the first filter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "typeIds",
            "in": "query",
            "description": "in/not in filter, defines search condition by list of ticket type ids (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy. examples in - \"id1,id2\" not in - \"[notIn],id1,id2\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "typeNames",
            "in": "query",
            "description": "defines search condition by list of type names (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy. examples - \"name1,name2\", not in - \"[notIn],name1,name2\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryIds",
            "in": "query",
            "description": "in/not in filter, defines search condition by list of ticket category ids (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy. examples in - \"id1,id2\" not in - \"[notIn],id1,id2\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryNames",
            "in": "query",
            "description": "defines search condition by list of category names (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy. examples - \"name1,name2\", not in - \"[notIn],name1,name2\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdByIds",
            "in": "query",
            "description": "in/not in filter, defines search condition by list of ticket createdBy ids (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy. examples in - \"id1,id2\" not in - \"[notIn],id1,id2\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedByIds",
            "in": "query",
            "description": "in/not in filter, defines search condition by list of ticket updatedBy ids (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy. examples in - \"id1,id2\" not in - \"[notIn],id1,id2\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdAtFrom",
            "in": "query",
            "description": "start date and time to filter by createdAt field. For OR filter numeric filter suffix can be added to name.\nSee API description for filtering strategy.\nsupports 3 value formats\n1. date only - '2019-01-31'\n2. date and time '2019-01-31T15:01:02'\n3. rfc3339 - '2019-10-12T07:20:50.52+00:00'\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAtTo",
            "in": "query",
            "description": "end date and time to filter by createdAt field. For OR filter numeric filter suffix can be added to name.\nSee API description for filtering strategy.\nsupports 3 value formats\n1. date only - '2019-01-31' - in this case actual end date will be '2019-01-31T23:59:59'\n2. date and time '2019-01-31T15:01:02'\n3. rfc3339 - '2019-10-12T07:20:50.52+00:00'\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedAtFrom",
            "in": "query",
            "description": "start date and time to filter by updatedAt field. For OR filter numeric filter suffix can be added to name. \nSee API description for filtering strategy.\nsupports 3 value formats\n1. date only - '2019-01-31'\n2. date and time '2019-01-31T15:01:02'\n3. rfc3339 - '2019-10-12T07:20:50.52+00:00'\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedAtTo",
            "in": "query",
            "description": "end date and time to filter by updatedAt field. For OR filter numeric filter suffix can be added to name. \nSee API description for filtering strategy.\nsupports 3 value formats\n1. date only - '2019-01-31' - in this case actual end date will be '2019-01-31T23:59:59'\n2. date and time '2019-01-31T15:01:02'\n3. rfc3339 - '2019-10-12T07:20:50.52+00:00'\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dueDateFrom",
            "in": "query",
            "description": "start date and time to filter by dueDate field. For OR filter numeric filter id can be added to name\nsupports 3 value formats\n1. date only - '2019-01-31'\n2. date and time '2019-01-31T15:01:02'\n3. rfc3339 - '2019-10-12T07:20:50.52+00:00'\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dueDateTo",
            "in": "query",
            "description": "end date and time to filter by dueDate field. For OR filter numeric filter suffix can be added to name. \nSee API description for filtering strategy.\nsupports 3 value formats\n1. date only - '2019-01-31' - in this case actual end date will be '2019-01-31T23:59:59'\n2. date and time '2019-01-31T15:01:02'\n3. rfc3339 - '2019-10-12T07:20:50.52+00:00'\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "tagIds",
            "in": "query",
            "description": "defines search condition by list of tag ids (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagNames",
            "in": "query",
            "description": "defines search condition by list of tag names (comma separated). For OR filter numeric filter suffix can be added to name. See API description for filtering strategy.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with all available tickets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTickets"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_tickets"
      },
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Creates a new Service ticket",
        "description": "This API creates a new ticket in the system.\nThe 'read-only' parameters in the request body are ignored, if provided. See request body schema for details.\n",
        "requestBody": {
          "description": "the ticket object to be created in the system",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ticket"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ticket creation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          },
          "400": {
            "description": "Bad/invalid Request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "post__api_platform_v1_service_ticketing_tickets"
      }
    },
    "/api/platform/v1/service/ticketing/tickets/{id}": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns a Service ticket",
        "description": "Fetches the ticket stored in the system against the provided id.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the id of the ticket to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with ticket in response body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          },
          "404": {
            "description": "the ticket with id parameter value provided in path does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_tickets__id_"
      },
      "patch": {
        "tags": [
          "Tickets"
        ],
        "summary": "Updates a Service ticket",
        "description": "This API updates the existing ticket based on JSON Patch request received.\nThis API is suitable for changing specific fields of ticket without replacing the entire ticket object.\nFor more details on JSON Patch, please check http://jsonpatch.com/\nThe 'read-only' fields of ticket body cannot be updated using this API. For getting 'read-only' fields info, see ticket\nschema details\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the id of the ticket to be updated",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "the ticket object to be updated in the system",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/json-patch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with patched ticket in response body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          },
          "400": {
            "description": "the request body is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "404": {
            "description": "the ticket with id parameter value provided in path does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "405": {
            "description": "Only replace operation is allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "patch__api_platform_v1_service_ticketing_tickets__id_"
      },
      "put": {
        "tags": [
          "Tickets"
        ],
        "summary": "Replace a Service ticket",
        "description": "This API replaces the existing ticket matching provided number with the one provided in the request body.\nThe ticket parameter values, except for 'read-only' ones (see request body documentation), are replaced with their correspoding values\nfrom request body of this API call.\nIf certain parameter is absent in the request body, it's default value may be used (if available).\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the id of the ticket to be replaced",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "the ticket object to be replaced in the system",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ticket"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with updated ticket in response body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          },
          "400": {
            "description": "Bad/invalid Request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "404": {
            "description": "the ticket with id parameter value provided in path does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "put__api_platform_v1_service_ticketing_tickets__id_"
      }
    },
    "/api/platform/v1/service/ticketing/tickets/{id}/notes": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns selected Notes for Service ticket",
        "description": "This API fetches the selected notes for a specific ticket from system and returns it.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the id of the ticket for which notes API is being called",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "detail",
            "in": "query",
            "description": "filter by note detail",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extendedAttributeIds",
            "in": "query",
            "description": "filter by extendedAttributeIds",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "a comma separated list of visibility ids to filter by note visibility field Visibility of the note:\n * 1 - Visible to all\n * 2 - Visible to a specific partner\n * 7 - Expert services,visible to partner and expert service users\n * 8 - Expert users,visible to expert users\n",
            "schema": {
              "type": "string",
              "example": "Id1,Id2"
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "description": "a comma separated list of user ids to filter by note createdBy field",
            "schema": {
              "type": "string",
              "example": "userId1,userId2"
            }
          },
          {
            "name": "createdAtFrom",
            "in": "query",
            "description": "start date and time to filter by createdAt field\nsupports 3 value formats\n1. date only - '2019-01-31'\n2. date and time '2019-01-31T15:01:02'\n3. rfc3339 - '2019-10-12T07:20:50.52+00:00'\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAtTo",
            "in": "query",
            "description": "end date and time to filter by createdAt field\nsupports 3 value formats\n1. date only - '2019-01-31' - in this case actual end date will be '2019-01-31T23:59:59'\n2. date and time '2019-01-31T15:01:02'\n3. rfc3339 - '2019-10-12T07:20:50.52+00:00'\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with selected notes for a specific ticket",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketNotes"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_tickets__id__notes"
      },
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Creates a new Note for a Service ticket",
        "description": "This API creates a new note for the specified ticket in the system. The 'id' parameter value in the request body is ignored, if provided. A new 'id' is created  for the newly created note and provided in response body\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the id of the ticket for which notes API is being called",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "the note object to be created in the system",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketNoteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "note creation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketNote"
                }
              }
            }
          },
          "400": {
            "description": "Bad/invalid Request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "post__api_platform_v1_service_ticketing_tickets__id__notes"
      }
    },
    "/api/platform/v1/service/ticketing/tickets/{id}/notes/{noteId}": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns a Note for a Service ticket",
        "description": "Fetches the ticket note stored in the system against the provided id.\n",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "the id of the note to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "the id of the ticket for which notes API is being called",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with ticket note in response body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketNote"
                }
              }
            }
          },
          "404": {
            "description": "the ticket note with id parameter value provided in path does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_tickets__id__notes__noteId_"
      },
      "patch": {
        "tags": [
          "Tickets"
        ],
        "summary": "Updates a Note for a Service ticket",
        "description": "This API updates the existing note based on JSON Patch request received. This API is suitable for changing specific fields of note without replacing the entire note object. For more details on JSON Patch, please check http://jsonpatch.com/ The 'id' parameter value in the request body is ignored, if sent and 'id' parameter value from path is used as note id for this API\n",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "the id of the note to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "the id of the ticket for which notes API is being called",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "the note object to be updated in the system",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/json-patch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with patched note in response body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketNote"
                }
              }
            }
          },
          "404": {
            "description": "the ticket note with id parameter value provided in path does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "405": {
            "description": "Only replace operation is allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "patch__api_platform_v1_service_ticketing_tickets__id__notes__noteId_"
      },
      "put": {
        "tags": [
          "Tickets"
        ],
        "summary": "Replace a Note for a Service ticket",
        "description": "This API replaces the existing ticket note matching provided id with the one provided in the request body. All the note parameter values, except for 'id', are replaced with their correspoding values from request body of this API call. If certain parameter is absent in the request body, it's default value is used. The 'id' parameter value in the request body is ignored, if sent and 'id' parameter value from path is used as note id for this API\n",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "the id of the note to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "the id of the ticket for which notes API is being called",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "the note object to be replaced in the system",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketNoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with updated note in response body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketNote"
                }
              }
            }
          },
          "400": {
            "description": "Bad/invalid Request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "404": {
            "description": "the ticket note with id parameter value provided in path does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "put__api_platform_v1_service_ticketing_tickets__id__notes__noteId_"
      }
    },
    "/api/platform/v1/service/ticketing/types": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Returns all ticket types",
        "description": "This API returns all the available types in the system. Pagination support is not available for this API yet, so this API may return large amount of data depending upon types present in the system.\n",
        "parameters": [
          {
            "name": "entity",
            "in": "query",
            "description": "Fetches the type stored in the system against the provided entity, the possible values is assignment",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with all available types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Types"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAPIErrors"
                }
              }
            }
          }
        },
        "operationId": "get__api_platform_v1_service_ticketing_types"
      }
    },
    "/v1/custom-field/definitions": {
      "get": {
        "security": [
          {
            "custom_fields": [
              "platform.custom_fields_definitions.read"
            ]
          }
        ],
        "tags": [
          "Custom Fields Definitions"
        ],
        "summary": "Get the list of custom fields definitions for the given partner, including the vendor provided and partner defined.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityTypeQuery"
          },
          {
            "$ref": "#/components/parameters/OriginType"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved partner attribute definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PartnerAttributeDefinition"
                      }
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "get__v1_custom_field_definitions"
      },
      "post": {
        "security": [
          {
            "custom_fields": [
              "platform.custom_fields_definitions.write"
            ]
          }
        ],
        "tags": [
          "Custom Fields Definitions"
        ],
        "summary": "Create a new custom fields definition schema",
        "requestBody": {
          "$ref": "#/components/requestBodies/PartnerAttributeDefinitionPOST"
        },
        "responses": {
          "201": {
            "description": "Attribute definition added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerAttributeDefinition"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "post__v1_custom_field_definitions"
      }
    },
    "/v1/custom-field/definitions/{definitionID}": {
      "get": {
        "security": [
          {
            "custom_fields": [
              "platform.custom_fields_definitions.read"
            ]
          }
        ],
        "tags": [
          "Custom Fields Definitions"
        ],
        "summary": "Get the schema for the definition by the given definition id",
        "parameters": [
          {
            "$ref": "#/components/parameters/DefinitionID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the schema for the attribute definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerAttributeDefinition"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Partner not found / Definition not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "get__v1_custom_field_definitions__definitionID_"
      },
      "put": {
        "security": [
          {
            "custom_fields": [
              "platform.custom_fields_definitions.write"
            ]
          }
        ],
        "tags": [
          "Custom Fields Definitions"
        ],
        "summary": "Update the schema for the definition by the given definition id",
        "parameters": [
          {
            "$ref": "#/components/parameters/DefinitionID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PartnerAttributeDefinitionPUT"
        },
        "responses": {
          "200": {
            "description": "Successfully updated attribute definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerAttributeDefinition"
                }
              }
            }
          },
          "400": {
[...]
