{
  "openapi": "3.0.0",
  "info": {
    "title": "GoCardless",
    "description": "Documentation for how to use this collection, including a Quickstart guide, is available on the [GoCardless Developer Docs](https://developer.gocardless.com/getting-started/introduction).\n\nDetailed documentation for GoCardless API endpoints is at the [GoCardless API reference guide](https://developer.gocardless.com/api-reference/).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.gocardless.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Billing",
      "description": "Billing Requests help create resources that require input or action from a customer. An example of required input might be additional customer billing details, while an action would be asking a customer to authorise a payment using their mobile banking app.\n\nThere are three primary use cases for Billing Requests:\n\n1. Setting up a DD mandate\n2. Taking an Instant Bank Payment\n3. Combining (1) and (2) to take the first payment and also setup a DD mandate for subsequent payments\n\nIntegrators should create a Billing Request that specifies their desired outcome, picking one of the above use cases, then use the Billing Request Flow to create a checkout flow that takes their customers through the necessary setup.\n\nThe Billing Request Flow loads the Billing Request and attempts to complete all required Billing Request actions. Integrators who want to build custom flows may do so by completing most of the required actions, and using a Billing Request Flow to handle the remaining incomplete actions.\n\n[Billing Requests Overview](https://developer.gocardless.com/getting-started/billing-requests/overview/)"
    },
    {
      "name": "Billing > Billing Requests",
      "description": "Billing Requests are designed to handle all GoCardless payment options, giving you access to multiple payment rails through one API. These payment options include, but not limited to:\n\n1. Setting up a DD mandate by passing the `mandate_request` object\n    \n2. Taking a one off Open Banking payment (Instant Bank Payment) by passing the `payment_request` object\n    \n3. Combining (1) and (2) to take the first payment and also setup a DD mandate for subsequent payments by passing both the mandate_request & payment_request objects\n    \n4. Taking a recurring Open Banking payment (Variable Recurring Payments)\n    \n\n[Create a Billing Request API Docs](https://developer.gocardless.com/api-reference/#billing-requests-create-a-billingrequest)"
    },
    {
      "name": "Billing > Billing Requests > Billing Request Examples",
      "description": "Find pre-made Billing Requests that you may use as an entry point to the different forms of payment our Billing Request is able to create."
    },
    {
      "name": "Billing > Billing Request Flows",
      "description": "The Billing Request Flow loads the Billing Request and attempts to complete all required Billing Request actions. Integrators who want to build custom flows may do so by completing most of the required actions, and using a Billing Request Flow to handle the remaining incomplete actions."
    },
    {
      "name": "Billing > Bank Authorisations",
      "description": "Bank Authorisations can be used to authorise Billing Requests. Authorisations are created against a specific bank, usually the bank that provides the payer\u2019s account.\n\nCreation of Bank Authorisations is only permitted from GoCardless hosted UIs (see Billing Request Flows) to ensure we meet regulatory requirements for checkout flows."
    },
    {
      "name": "Billing > Billing Request Templates"
    },
    {
      "name": "Billing > Institutions"
    },
    {
      "name": "Creditors",
      "description": "Core API calls for the GoCardless API that allow you to set and retrieve various GoCardless resources.\n\nFor Customer and Payment creation, please first look at BIlling Requests."
    },
    {
      "name": "Creditors > Creditors",
      "description": "Each payment taken through the API is linked to a \u201ccreditor\u201d, to whom the payment is then paid out. In most cases your organisation will have a single \u201ccreditor\u201d, but the API also supports collecting payments on behalf of others.\n\nPlease get in touch if you wish to use this endpoint. Currently, for Anti Money Laundering reasons, any creditors you add must be directly related to your organisation."
    },
    {
      "name": "Creditors > Creditors Bank Accounts",
      "description": "Creditor Bank Accounts hold the bank details of a creditor. These are the bank accounts which your payouts will be sent to.\n\nNote that creditor bank accounts must be unique, and so you will encounter a bank_account_exists error if you try to create a duplicate bank account. You may wish to handle this by updating the existing record instead, the ID of which will be provided as links[creditor_bank_account] in the error response.\n\nRestricted: This API is not available for partner integrations."
    },
    {
      "name": "Customers"
    },
    {
      "name": "Customers > Customers",
      "description": "Customer objects hold the contact details for a customer. A customer can have several customer bank accounts, which in turn can have several Direct Debit mandates."
    },
    {
      "name": "Customers > Customer Bank Accounts",
      "description": "Customer Bank Accounts hold the bank details of a customer. They always belong to a customer, and may be linked to several Direct Debit mandates.\n\nNote that customer bank accounts must be unique, and so you will encounter a bank_account_exists error if you try to create a duplicate bank account. You may wish to handle this by updating the existing record instead, the ID of which will be provided as links[customer_bank_account] in the error response."
    },
    {
      "name": "Customer Notifications",
      "description": "Customer Notifications represent the notification which is due to be sent to a customer after an event has happened. The event, the resource and the customer to be notified are all identified in the links property.\n\nNote that these are ephemeral records - once the notification has been actioned in some way, it is no longer visible using this API.\n\nRestricted: This API is currently only available for approved integrators - please get in touch if you would like to use this API."
    },
    {
      "name": "Misc"
    },
    {
      "name": "Misc > Refunds",
      "description": "Refund objects represent (partial) refunds of a payment back to the customer.\n\nGoCardless will notify you via a webhook whenever a refund is created, and will update the amount_refunded property of the payment."
    },
    {
      "name": "Misc > Payouts",
      "description": "Payouts represent transfers from GoCardless to a creditor. Each payout contains the funds collected from one or many payments. All the payments in a payout will have been collected in the same currency. Payouts are created automatically after a payment has been successfully collected."
    },
    {
      "name": "Misc > Payout Items",
      "description": "When we collect a payment on your behalf, we add the money you\u2019ve collected to your GoCardless balance, minus any fees paid. Periodically (usually every working day), we take any positive balance in your GoCardless account, and pay it out to your nominated bank account.\n\nOther actions in your GoCardless account can also affect your balance. For example, if a customer charges back a payment, we\u2019ll deduct the payment\u2019s amount from your balance, but add any fees you paid for that payment back to your balance.\n\nThe Payout Items API allows you to view, on a per-payout basis, the credit and debit items that make up that payout\u2019s amount.\n\n"
    },
    {
      "name": "Misc > Subscriptions",
      "description": "Subscriptions create payments according to a schedule."
    },
    {
      "name": "Misc > Tax Rates",
      "description": "Tax rates from tax authority.\n\nWe also maintain a\u00a0[static list of the tax rates for each jurisdiction](https://developer.gocardless-staging.io/api-reference#appendix-tax-rates)."
    },
    {
      "name": "Misc > Events",
      "description": "Events are stored for all webhooks. An event refers to a resource which has been updated, for example a payment which has been collected, or a mandate which has been transferred. See here for a complete list of event types."
    },
    {
      "name": "Misc > Currency Exchange Rates",
      "description": "Currency exchange rates from our foreign exchange provider."
    },
    {
      "name": "Misc > Payments",
      "description": "Payment objects represent payments from a customer to a creditor, taken against a Direct Debit mandate.\n\nGoCardless will notify you via a webhook whenever the state of a payment changes."
    },
    {
      "name": "Mandates"
    },
    {
      "name": "Mandates > Mandates",
      "description": "Mandates represent the Direct Debit mandate with a customer."
    },
    {
      "name": "Mandates > Mandate Imports",
      "description": "Mandate Imports allow you to migrate existing mandates from other providers into the GoCardless platform.\n\n[Mandate Imports Developers Docs](https://developer.gocardless.com/api-reference/#core-endpoints-mandate-imports)"
    },
    {
      "name": "Mandates > Mandate Import Entries",
      "description": "Mandate Import Entries are added to a Mandate Import. Each entry corresponds to one mandate to be imported into GoCardless.\n\n[Mandate Import Entries Developers Docs](https://developer.gocardless.com/api-reference/#core-endpoints-mandate-import-entries)"
    },
    {
      "name": "Mandates > Transferred Mandates",
      "description": "Mandates that have been transferred using Current Account Switch Service\n\n**Restricted**: This endpoint is restricted to organisations with the Transfer Bank Accounts upgrade"
    }
  ],
  "paths": {
    "/billing_requests": {
      "get": {
        "tags": [
          "Billing > Billing Requests"
        ],
        "summary": "List Billing Requests",
        "description": "Returns a cursor-paginated list of your billing_requests.\n\n[List Billing Requests API Docs](https://developer.gocardless.com/api-reference/#billing-requests-list-billing-requests)",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "Tue, 30 Jul 2024 04:02:25 GMT"
                }
              },
              "Content-Type": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "pragma": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Cache-Control": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "no-store"
                }
              },
              "etag": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "W/\"be3ba183e4273f2944502d8aa90bf2e2\""
                }
              },
              "x-request-id": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "23BF32189A7E_0A140AA11F92_66A865D0_28A4F0001"
                }
              },
              "strict-transport-security": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "max-age=31556926; includeSubDomains; preload"
                }
              },
              "vary": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "Origin,Accept-Encoding"
                }
              },
              "x-xss-protection": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              },
              "x-content-type-options": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "ratelimit-limit": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "integer",
                  "example": 1600
                }
              },
              "ratelimit-remaining": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "integer",
                  "example": 1599
                }
              },
              "ratelimit-reset": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "Tue, 30 Jul 2024 04:03:00 GMT"
                }
              },
              "Content-Encoding": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "via": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "number"
                }
              },
              "CF-Cache-Status": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Server": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "8ab273f64e6259fe-IAD"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "billing_requests": [
                    {
                      "id": "BRQ0006QYZKCM56",
                      "created_at": "2024-07-29T15:00:41.349Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011Y9TMNKN3"
                        },
                        "metadata": {},
                        "description": "Storage Fee",
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Storage Fee",
                        "currency": "GBP",
                        "amount": 500000,
                        "scheme": "faster_payments",
                        "links": {
                          "payment": "PM00AFYJ6G8DK3"
                        },
                        "metadata": {},
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017RAQH3A1S",
                        "customer_billing_detail": "CBD000MXPYSFA7H",
                        "customer_bank_account": "BA0011SS4BS7HT",
                        "bank_authorisation": "BAU0000PNK1E4SF",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000VD5Q54G2",
                        "payment_request_payment": "PM00AFYJ6G8DK3",
                        "mandate_request": "MRQ00067DJPQTEA",
                        "mandate_request_mandate": "MD0011Y9TMNKN3"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QYVQCC9H",
                      "created_at": "2024-07-29T14:44:56.682Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011Y9FJT9TX"
                        },
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017RA7ZAABE",
                        "customer_billing_detail": "CBD000MXPH4DY2Z",
                        "customer_bank_account": "BA0011SRSHFJ7W",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00067DF9ZWG6",
                        "mandate_request_mandate": "MD0011Y9FJT9TX"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QXXA17M5",
                      "created_at": "2024-07-29T13:17:25.475Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017R78E24S7",
                        "customer_billing_detail": "CBD000MXM0NR1HR",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00067CJ76YX2"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QXVZHB62",
                      "created_at": "2024-07-29T13:13:03.585Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011Y776FNCY"
                        },
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017R74Q0538",
                        "customer_billing_detail": "CBD000MXKXJQHJN",
                        "customer_bank_account": "BA0011SPHSCCK4",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00067CGX6QRE",
                        "mandate_request_mandate": "MD0011Y776FNCY"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QG6MGWV3",
                      "created_at": "2024-07-26T12:02:30.780Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {},
                        "description": "Example Test Plan",
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017PCXV35QJ",
                        "customer_billing_detail": "CBD000MWFRGMQ6G",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ000670G62T4Z"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QG5Z6G03",
                      "created_at": "2024-07-26T11:57:21.177Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "EUR",
                        "scheme": "sepa_core",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011X88XRCX9"
                        },
                        "metadata": {},
                        "description": "Installation Fee",
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Installation Fee",
                        "currency": "EUR",
                        "amount": 9000,
                        "scheme": "sepa_credit_transfer",
                        "links": {
                          "payment": "PM00AFDKTVVZXC"
                        },
                        "metadata": {},
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017PCTWX21R",
                        "customer_billing_detail": "CBD000MWFPKWZT0",
                        "customer_bank_account": "BA0011RQEFGVCT",
                        "bank_authorisation": "BAU0000PKBFRNBS",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000VA8WDT41",
                        "payment_request_payment": "PM00AFDKTVVZXC",
                        "mandate_request": "MRQ000670FJE46C",
                        "mandate_request_mandate": "MD0011X88XRCX9"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QG3EX6BR",
                      "created_at": "2024-07-26T11:53:08.955Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "EUR",
                        "scheme": "sepa_core",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011X85TYAKQ"
                        },
                        "metadata": {},
                        "description": "Installation",
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017PCQBERV6",
                        "customer_billing_detail": "CBD000MWFKJD5G0",
                        "customer_bank_account": "BA0011RQBQYF04",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ000670D5DTCY",
                        "mandate_request_mandate": "MD0011X85TYAKQ"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QFTSMGSX",
                      "created_at": "2024-07-26T11:21:00.122Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {
                        "test": "BR443"
                      },
                      "links": {
                        "customer": "CU0017PC23GNHZ",
                        "customer_billing_detail": "CBD000MWF25QM2G",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ0006705599FV"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QFQNZVCD",
                      "created_at": "2024-07-26T11:11:39.560Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011X7JC4V02"
                        },
                        "metadata": {
                          "key": "value"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Depost",
                        "currency": "GBP",
                        "amount": 25000,
                        "scheme": "faster_payments",
                        "links": {
                          "payment": "PM00AFDK1SGB05"
                        },
                        "metadata": {
                          "key": "value"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR789"
                      },
                      "links": {
                        "customer": "CU0017PBTSK62K",
                        "customer_billing_detail": "CBD000MWEVPR1CQ",
                        "customer_bank_account": "BA0011RPSM27RT",
                        "bank_authorisation": "BAU0000PKACSMXQ",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000VA72KY4P",
                        "payment_request_payment": "PM00AFDK1SGB05",
                        "mandate_request": "MRQ00067025DJSB",
                        "mandate_request_mandate": "MD0011X7JC4V02"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QFQ4K3RT",
                      "created_at": "2024-07-26T11:10:29.864Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017PBSQVDA6",
                        "customer_billing_detail": "CBD000MWETTWVQT",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ0006701M6QP0"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QFKVGX46",
                      "created_at": "2024-07-26T11:03:35.480Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011X7C3KJB4"
                        },
                        "metadata": {},
                        "description": "Deposit",
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017PBKJE64C",
                        "customer_billing_detail": "CBD000MWEMKVBX7",
                        "customer_bank_account": "BA0011RPM959G3",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00066ZYGMY50",
                        "mandate_request_mandate": "MD0011X7C3KJB4"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QFEWJPAH",
                      "created_at": "2024-07-26T10:51:20.845Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011X788NZVY"
                        },
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017PBASHAZX",
                        "customer_billing_detail": "CBD000MWED1FT21",
                        "customer_bank_account": "BA0011RPGW5CY4",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00066ZSWPXXX",
                        "mandate_request_mandate": "MD0011X788NZVY"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QF7N9J3M",
                      "created_at": "2024-07-26T10:32:04.407Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "links": {
                        "customer": "CU0017PAV6X8TD",
                        "customer_billing_detail": "CBD000MWDZ687GD",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00066ZK4CWFH"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QBDRTGP2",
                      "created_at": "2024-07-25T19:49:09.789Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "links": {
                        "customer": "CU0017NVK2K65M",
                        "customer_billing_detail": "CBD000MW2ZMAX1F",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00066W3AZ9AD"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006QBDGFEY3",
                      "created_at": "2024-07-25T19:46:44.533Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Handcrafted Concrete Pants",
                        "currency": "GBP",
                        "amount": 966,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR519"
                      },
                      "links": {
                        "customer": "CU0017NVGXJHSR",
                        "customer_billing_detail": "CBD000MW2XV81NJ",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000V9KGX2GM",
                        "mandate_request": "MRQ00066W335553"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006Q86SAT50",
                      "created_at": "2024-07-25T14:08:50.073Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {},
                        "description": "Fee",
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017NHRWXCQR",
                        "customer_billing_detail": "CBD000MVTQSBJ42",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00066S3Q9PH8"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006Q868GST1",
                      "created_at": "2024-07-25T14:07:38.798Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {
                          "Testing": "single payment"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Dist",
                        "currency": "GBP",
                        "amount": 132000,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {},
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "links": {
                        "customer": "CU0017NHQDQGEV",
                        "customer_billing_detail": "CBD000MVTPG7Y62",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000V987XSJH",
                        "mandate_request": "MRQ00066S39QHTJ"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006Q6F4R7N4",
                      "created_at": "2024-07-25T10:55:47.697Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {},
                        "description": "Nik's gold plan test",
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017NBF0VPE7",
                        "customer_billing_detail": "CBD000MVN7RGTMM",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00066QHFVDT6"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006Q4XKWPWH",
                      "created_at": "2024-07-25T08:53:53.436Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011WETQC26X"
                        },
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017N79X4R1F",
                        "customer_billing_detail": "CBD000MVHKB9RNM",
                        "customer_bank_account": "BA0011QYC6FF0Q",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00066P5MAWEE",
                        "mandate_request_mandate": "MD0011WETQC26X"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006PZBYJ0F0",
                      "created_at": "2024-07-24T15:36:07.248Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {},
                        "description": "Example Test Plan",
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017MKSFBTGF",
                        "customer_billing_detail": "CBD000MV3BR84EQ",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00066H6MCQ8H"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006PYCT7Q6Z",
                      "created_at": "2024-07-24T14:36:53.044Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Fantastic Plastic Pizza",
                        "currency": "GBP",
                        "amount": 90587,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR428"
                      },
                      "links": {
                        "customer": "CU0017MHFYG6KV",
                        "customer_billing_detail": "CBD000MV1973D0B",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000V7WD5ZYH",
                        "mandate_request": "MRQ00066G89YGKP"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006PVBXD5RE",
                      "created_at": "2024-07-24T09:44:35.574Z",
                      "status": "fulfilled",
                      "payment_request": {
                        "description": "Toll Charge",
                        "currency": "GBP",
                        "amount": 50000,
                        "scheme": "faster_payments",
                        "links": {
                          "payment": "PM00AF5P60R8ZS"
                        },
                        "metadata": {},
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017M83YVP65",
                        "customer_billing_detail": "CBD000MTRWAVPB2",
                        "customer_bank_account": "BA0011QA571KYT",
                        "bank_authorisation": "BAU0000PHDMQWTT",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000V7CH0VE7",
                        "payment_request_payment": "PM00AF5P60R8ZS"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006PVB8EDQX",
                      "created_at": "2024-07-24T09:42:33.956Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {},
                        "description": "Sign up fee",
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017M81YF22E",
                        "customer_billing_detail": "CBD000MTRTMYXX1",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00066DKKSY18"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006PV6727B8",
                      "created_at": "2024-07-24T09:30:27.240Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011VT1BZRRM"
                        },
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017M7JX7S3D",
                        "customer_billing_detail": "CBD000MTRCR0WNR",
                        "customer_bank_account": "BA0011Q9PWVV14",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00066DFBGCJV",
                        "mandate_request_mandate": "MD0011VT1BZRRM"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006P78K1W34",
                      "created_at": "2024-07-22T10:25:54.955Z",
                      "status": "fulfilled",
                      "payment_request": {
                        "description": "Kosta Test",
                        "currency": "GBP",
                        "amount": 100000,
                        "scheme": "faster_payments",
                        "links": {
                          "payment": "PM00AEJ7G9X576"
                        },
                        "metadata": {},
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017J4P5C22F",
                        "customer_billing_detail": "CBD000MS2A933NQ",
                        "customer_bank_account": "BA0011NYTKVB0M",
                        "bank_authorisation": "BAU0000PFV960QM",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000V52QQETY",
                        "payment_request_payment": "PM00AEJ7G9X576"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006P77G49EV",
                      "created_at": "2024-07-22T10:22:21.451Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011TE8XC853"
                        },
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017J4HX182S",
                        "customer_billing_detail": "CBD000MS26JYWT2",
                        "customer_bank_account": "BA0011NYQKJZ80",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00065V0F4A28",
                        "mandate_request_mandate": "MD0011TE8XC853"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006NZGCZSFG",
                      "created_at": "2024-07-20T02:34:20.127Z",
                      "status": "fulfilled",
                      "payment_request": {
                        "description": "Dist",
                        "currency": "GBP",
                        "amount": 132000,
                        "scheme": "faster_payments",
                        "links": {
                          "payment": "PM00AE9FBJHY4M"
                        },
                        "metadata": {},
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "links": {
                        "customer": "CU0017GZD213C2",
                        "customer_billing_detail": "CBD000MRDT8FVAN",
                        "customer_bank_account": "BA0011NE3MDFWP",
                        "bank_authorisation": "BAU0000PEB96SZS",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000V3M9AKDP",
                        "payment_request_payment": "PM00AE9FBJHY4M"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006NAJ2JGSB",
                      "created_at": "2024-07-17T14:54:59.224Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Rustic Cotton Chicken",
                        "currency": "GBP",
                        "amount": 86555,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR58"
                      },
                      "links": {
                        "customer": "CU0017EQ1FV250",
                        "customer_billing_detail": "CBD000MPMFXD1ZY",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000V14V2K3B",
                        "mandate_request": "MRQ000650JF2BG4"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006NAFPGRX2",
                      "created_at": "2024-07-17T14:48:56.550Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Intelligent Frozen Pants",
                        "currency": "GBP",
                        "amount": 23204,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR806"
                      },
                      "links": {
                        "customer": "CU0017EPTKJRM5",
                        "customer_billing_detail": "CBD000MPM9XC4DX",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000V14RA723",
                        "mandate_request": "MRQ000650G3VT4G"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006NADAWSAK",
                      "created_at": "2024-07-17T14:37:34.398Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Licensed Steel Pants",
                        "currency": "GBP",
                        "amount": 32332,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR183"
                      },
                      "links": {
                        "customer": "CU0017EPJ9635H",
                        "customer_billing_detail": "CBD000MPM33XDMY",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000V14H4M0C",
                        "mandate_request": "MRQ000650DS3MH4"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006N6TRN0FZ",
                      "created_at": "2024-07-17T09:27:00.720Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Ergonomic Metal Shirt",
                        "currency": "GBP",
                        "amount": 73670,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR398"
                      },
                      "links": {
                        "customer": "CU0017ED16QHD6",
                        "customer_billing_detail": "CBD000MPBVNTF01",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000V0X2QZX4",
                        "mandate_request": "MRQ00064WZ504JA"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006N6J0SHWK",
                      "created_at": "2024-07-17T08:53:35.948Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Generic Cotton Shoes",
                        "currency": "GBP",
                        "amount": 20658,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR508"
                      },
                      "links": {
                        "customer": "CU0017EC0H5E5V",
                        "customer_billing_detail": "CBD000MPAYXG6GW",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000V0W5JAQE",
                        "mandate_request": "MRQ00064WPYM8Q5"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006MXDNCQ8P",
                      "created_at": "2024-07-16T09:12:14.450Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011QF111X7B"
                        },
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017DDC2YXWH",
                        "customer_billing_detail": "CBD000MNHXRVREW",
                        "customer_bank_account": "BA0011K305NWYG",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00064M0BD7AP",
                        "mandate_request_mandate": "MD0011QF111X7B"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006MXB97QE7",
                      "created_at": "2024-07-16T08:57:55.736Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017DCZHZWW1",
                        "customer_billing_detail": "CBD000MNHHRC8C6",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00064KYAJ080"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006MX9JB25R",
                      "created_at": "2024-07-16T08:52:40.455Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017DCT0JDVW",
                        "customer_billing_detail": "CBD000MNHC2D3MG",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00064KWRPAQK"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006MHZRX38G",
                      "created_at": "2024-07-15T09:14:51.908Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011PSJKBAQJ"
                        },
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU0017CC2F2567",
                        "customer_billing_detail": "CBD000MMPPV364F",
                        "customer_bank_account": "BA0011JE7XFBG3",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ000649CHAEY3",
                        "mandate_request_mandate": "MD0011PSJKBAQJ"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006MHFWKZMB",
                      "created_at": "2024-07-15T08:16:55.422Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Intelligent Steel Sausages",
                        "currency": "GBP",
                        "amount": 82940,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR351"
                      },
                      "links": {
                        "customer": "CU0017CAH1E308",
                        "customer_billing_detail": "CBD000MMNCP7E4F",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000TYSG6P5M",
                        "mandate_request": "MRQ000648Z8EAK9"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006KW4TRB7B",
                      "created_at": "2024-07-11T16:38:46.690Z",
                      "status": "cancelled",
                      "payment_request": {
                        "description": "Sleek Plastic Chips",
                        "currency": "GBP",
                        "amount": 30017,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "postman": "payment-only-br"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR885"
                      },
                      "links": {
                        "customer": "CU00179ZQT5SJP",
                        "customer_billing_detail": "CBD000MK5WQ0K4R",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000TWBK6EA5"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006KW46MT5H",
                      "created_at": "2024-07-11T16:37:36.513Z",
                      "status": "pending",
                      "payment_request": {
                        "description": "Generic Fresh Computer",
                        "currency": "GBP",
                        "amount": 93723,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "postman": "payment-only-br"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR777"
                      },
                      "links": {
                        "customer": "CU00179ZPH27GW",
                        "customer_billing_detail": "CBD000MK5VHNVTH",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000TWBHC7PT"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006KNGY9BWC",
                      "created_at": "2024-07-11T08:52:41.566Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Practical Rubber Table",
                        "currency": "GBP",
                        "amount": 72948,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR783"
                      },
                      "links": {
                        "customer": "CU00179ENN5T72",
                        "customer_billing_detail": "CBD000MJPDWMA32",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000TVTDESFX",
                        "mandate_request": "MRQ00063EGTF9CQ"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006KNA5HTT7",
                      "created_at": "2024-07-11T08:36:09.957Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "payment_request": {
                        "description": "Incredible Wooden Bike",
                        "currency": "GBP",
                        "amount": 15287,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "key": "value"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR801"
                      },
                      "links": {
                        "customer": "CU00179E0T5YSA",
                        "customer_billing_detail": "CBD000MJNVGXHWG",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000TVT21E1M",
                        "mandate_request": "MRQ00063EA7EK4D"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006KN2ZGAE5",
                      "created_at": "2024-07-11T08:19:19.943Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011N4NBYDTN"
                        },
                        "metadata": {},
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {},
                      "links": {
                        "customer": "CU00179DF2SDQH",
                        "customer_billing_detail": "CBD000MJNC5BE1B",
                        "customer_bank_account": "BA0011GT750XBK",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ00063E33115N",
                        "mandate_request_mandate": "MD0011N4NBYDTN"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006KCGWXRER",
                      "created_at": "2024-07-10T14:05:11.366Z",
                      "status": "pending",
                      "payment_request": {
                        "description": "Licensed Wooden Ball",
                        "currency": "GBP",
                        "amount": 5788,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "postman": "payment-only-br"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR312"
                      },
                      "links": {
                        "customer": "CU00178PZ6FMP7",
                        "customer_billing_detail": "CBD000MJ4D6XKGF",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000TV4DPZM3"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006KCBWC0DS",
                      "created_at": "2024-07-10T13:57:30.261Z",
                      "status": "pending",
                      "payment_request": {
                        "description": "Rustic Steel Car",
                        "currency": "GBP",
                        "amount": 67871,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "postman": "payment-only-br"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR701"
                      },
                      "links": {
                        "customer": "CU00178PKNAJE9",
                        "customer_billing_detail": "CBD000MJ43R2K8K",
                        "customer_bank_account": "BA0011GB2KH3DX",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000TV415KCM"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006KCBN9JEY",
                      "created_at": "2024-07-10T13:57:06.156Z",
                      "status": "pending",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {},
                        "metadata": {
                          "postman": "mandate-only-br"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {
                        "test": "BR346"
                      },
                      "links": {
                        "customer": "CU00178PKNAJE9",
                        "customer_billing_detail": "CBD000MJ43BV1Z4",
                        "customer_bank_account": "BA0011GB2KH3DX",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ000635MTPVFZ"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006KCAEJHW5",
                      "created_at": "2024-07-10T13:54:18.087Z",
                      "status": "pending",
                      "payment_request": {
                        "description": "Unbranded Soft Chair",
                        "currency": "GBP",
                        "amount": 18806,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "postman": "payment-only-br"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR517"
                      },
                      "links": {
                        "customer": "CU00178PHEZ21M",
                        "customer_billing_detail": "CBD000MJ41GVXZW",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000TV3V9MMP"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006KC8XGV0X",
                      "created_at": "2024-07-10T13:52:55.808Z",
                      "status": "fulfilled",
                      "payment_request": {
                        "description": "Awesome Granite Pizza",
                        "currency": "GBP",
                        "amount": 44608,
                        "scheme": "faster_payments",
                        "links": {
                          "payment": "PM00AC4QG61WAK"
                        },
                        "metadata": {
                          "postman": "payment-only-br"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR359"
                      },
                      "links": {
                        "customer": "CU00178PDPZ64N",
                        "customer_billing_detail": "CBD000MJ3Z4HYSX",
                        "customer_bank_account": "BA0011GAYRHS1B",
                        "bank_authorisation": "BAU0000P6ZR8Q3X",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000TV3QF4Z2",
                        "payment_request_payment": "PM00AC4QG61WAK"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006KC8922TJ",
                      "created_at": "2024-07-10T13:52:10.782Z",
                      "status": "fulfilled",
                      "mandate_request": {
                        "currency": "GBP",
                        "scheme": "bacs",
                        "sweeping": false,
                        "verify": "recommended",
                        "links": {
                          "mandate": "MD0011MN6H41CR"
                        },
                        "metadata": {
                          "postman": "mandate-only-br"
                        },
                        "payer_requested_dual_signature": false
                      },
                      "metadata": {
                        "test": "BR164"
                      },
                      "links": {
                        "customer": "CU00178PDPZ64N",
                        "customer_billing_detail": "CBD000MJ3Y81EP8",
                        "customer_bank_account": "BA0011GAYRHS1B",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "mandate_request": "MRQ000635HKB9MY",
                        "mandate_request_mandate": "MD0011MN6H41CR"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006KC72DKMD",
                      "created_at": "2024-07-10T13:50:45.663Z",
                      "status": "pending",
                      "payment_request": {
                        "description": "Unbranded Fresh Cheese",
                        "currency": "GBP",
                        "amount": 72901,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "postman": "payment-only-br"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR818"
                      },
                      "links": {
                        "customer": "CU00178PBKY0YT",
                        "customer_billing_detail": "CBD000MJ3WA0TQQ",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000TV3KTPYM"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    },
                    {
                      "id": "BRQ0006KC5Q7KX6",
                      "created_at": "2024-07-10T13:49:43.410Z",
                      "status": "pending",
                      "payment_request": {
                        "description": "Incredible Concrete Hat",
                        "currency": "GBP",
                        "amount": 66475,
                        "scheme": "faster_payments",
                        "links": {},
                        "metadata": {
                          "postman": "payment-only-br"
                        },
                        "flexible_amount": false,
                        "funds_settlement": "managed"
                      },
                      "metadata": {
                        "test": "BR3"
                      },
                      "links": {
                        "customer": "CU00178P8BE2ZG",
                        "customer_billing_detail": "CBD000MJ3TG4S1C",
                        "customer_bank_account": "BA0011GAV3MPFV",
                        "creditor": "CR0000796J2GYR",
                        "organisation": "OR000056YMCJ5G",
                        "payment_request": "PRQ0000TV3C2BXP"
                      },
                      "fallback_enabled": false,
                      "fallback_occurred": false,
                      "auto_fulfil": true
                    }
                  ],
                  "meta": {
                    "cursors": {
                      "after": "BRQ0006KC5Q7KX6"
                    },
                    "limit": 50
                  }
                }
              }
            }
          }
        },
        "operationId": "get_billing_requests"
      },
      "post": {
        "tags": [
          "Billing > Billing Requests"
        ],
        "summary": "Create a Billing Request",
        "description": "Billing Requests help create resources that require input or action from a customer. An example of required input might be additional customer billing details, while an action would be asking a customer to authorise a payment using their mobile banking app.\n\nSee [Billing Requests: Overview](https://developer.gocardless.com/getting-started/billing-requests/overview/) for how-to\u2019s, explanations and tutorials.\n\n[Create a Billing Request API Docs](https://developer.gocardless.com/api-reference/#billing-requests-create-a-billing-request)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": "{\n    \"billing_requests\": {\n        \"payment_request\": {\n            \"description\": \"{{$randomProductName}}\",\n            \"amount\": {{generated_payment_amount}},\n            \"scheme\": \"faster_payments\",\n            \"currency\": \"GBP\",\n            // \"funds_settlement\": \"direct\", //enables direct funds settlement\n            // \"reference\": \"PM{{$randomInt}}\", //only available with direct funds settlement\n            \"metadata\": {\n                \"key\": \"value\"\n            }\n        },\n        \"mandate_request\": {\n            \"currency\": \"GBP\",\n            \"scheme\": \"bacs\",\n            \"verify\": \"recommended\",\n            //\"reference\": \"MD{{$randomInt}}\",\n            \"metadata\": {\n                \"key\": \"value\"\n            }\n        },\n        // \"fallback_enabled\": true, //not compatible with Protect+\n        \"links\": {\n            // \"customer\": \"{{customer}}\"\n        },\n        \"metadata\": {\n            \"test\": \"BR{{$randomInt}}\"\n        }\n    }\n}"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Date": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "Fri, 09 Aug 2024 14:05:01 GMT"
                }
              },
              "Content-Type": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "location": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "/enterprise/billing_requests/BRQ0006TNHTV0FZ"
                }
              },
              "pragma": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Cache-Control": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "no-store"
                }
              },
              "etag": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "W/\"d244efdca8a53371661eb4293827adf6\""
                }
              },
              "x-request-id": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "23BF0034CABA_0A145A8F1F92_66B6220D_04830001"
                }
              },
              "strict-transport-security": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "max-age=31556926; includeSubDomains; preload"
                }
              },
              "vary": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "Origin,Accept-Encoding"
                }
              },
              "x-xss-protection": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              },
              "x-content-type-options": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "ratelimit-limit": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "integer",
                  "example": 1600
                }
              },
              "ratelimit-remaining": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "integer",
                  "example": 1599
                }
              },
              "ratelimit-reset": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "Fri, 09 Aug 2024 14:06:00 GMT"
                }
              },
              "Content-Encoding": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "via": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "number"
                }
              },
              "CF-Cache-Status": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Server": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "8b084c71ec017200-LHR"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "billing_requests": {
                    "id": "BRQ0006TNHTV0FZ",
                    "created_at": "2024-08-09T14:05:01.215Z",
                    "status": "pending",
                    "mandate_request": {
                      "currency": "GBP",
                      "scheme": "bacs",
                      "sweeping": false,
                      "verify": "recommended",
                      "links": {},
                      "metadata": {
                        "key": "value"
                      },
                      "payer_requested_dual_signature": false
                    },
                    "payment_request": {
                      "description": "Handcrafted Granite Mouse",
                      "currency": "GBP",
                      "amount": 15369,
                      "scheme": "faster_payments",
                      "links": {},
                      "metadata": {
                        "key": "value"
                      },
                      "flexible_amount": false,
                      "funds_settlement": "managed"
                    },
                    "metadata": {
                      "test": "BR269"
                    },
                    "links": {
                      "customer": "CU00181SBYD8FD",
                      "customer_billing_detail": "CBD000N4T2RHJR5",
                      "creditor": "CR0000796J2GYR",
                      "organisation": "OR000056YMCJ5G",
                      "payment_request": "PRQ0000VSWQ9ETG",
                      "mandate_request": "MRQ00069VGEWRTY"
                    },
                    "fallback_enabled": false,
                    "fallback_occurred": false,
                    "auto_fulfil": true,
                    "creditor_name": "Your Company Name",
                    "actions": [
                      {
                        "type": "choose_currency",
                        "required": true,
                        "completes_actions": [],
                        "requires_actions": [],
                        "status": "completed",
                        "available_currencies": [
                          "GBP",
                          "EUR"
                        ]
                      },
                      {
                        "type": "collect_amount",
                        "required": true,
                        "completes_actions": [],
                        "requires_actions": [],
                        "status": "completed"
                      },
                      {
                        "type": "collect_customer_details",
                        "required": true,
                        "completes_actions": [],
                        "requires_actions": [
                          "choose_currency",
                          "collect_amount"
                        ],
                        "status": "pending",
                        "collect_customer_details": {
                          "incomplete_fields": {
                            "customer": [
                              "email",
                              "given_name",
                              "family_name"
                            ],
                            "customer_billing_detail": [
                              "address_line1",
                              "city",
[...]
